<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>W-StoreApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>87140F371FA9654200A3F598</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87140F4B1FA9654300A3F598</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87140F561FA9654300A3F598</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
